:root {
    --background-color-light: #f5f2fd;
    --primary-color-light: #39198f;
    --secondary-color-light: #c9baf3;
    --accent-color-light: #4c22bf;
    --text-color-light: #030208;
    --shadow-color-light: rgba(0, 0, 0, 0.2);
	
    --background-color-dark: #05020d;
    --primary-color-dark: #8f70e6;
    --secondary-color-dark: #1b0c45;
    --accent-color-dark: #6a40dd;
    --text-color-dark: #f8f7fd;
	--shadow-color-dark: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    text-align: center;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    color: var(--accent-color);
    margin-bottom: 40px;
}

h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
    color: var(--accent-color);
	margin: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input {
    background-color: var(--secondary-color);
}

input::placeholder {
    font-style: italic;
	font-weight: bold;
	color: var(--text-color);
}

button {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button#darkModeToggle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 0; /* Remove padding to control button size with width and height */
    width: 60px; /* Set the width to 60px */
    height: 60px; /* Set the height to 60px */
    background-color: var(--primary-color); /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 25%; /* Rounded corners to make it a circle */
    cursor: pointer;
	box-shadow: 0px 0px 10px var(--shadow-color);
}

button#darkModeToggle img {
    vertical-align: middle;
    width: 30px; /* Adjust the icon size */
    height: 30px; /* Adjust the icon size */
    margin: 0; /* Remove margin for the icon */
}

.result-container {
	margin-top: 5px;
    display: none;
    width: 100%;
    text-align: center;
}

textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 1.4; /* Adjust the line height to control the text spacing */
}

.watermarks {
    text-align: center;
	font-weight: bold;
	color: var(--text-color);
    margin-top: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color); /* Match the background color of your site */
}

.watermarks p {
    margin: 5px;
}

.watermarks img {
    width: 16px; /* Adjust the icon size as needed */
    vertical-align: middle;
    margin-right: 5px;
}

.inverted {
    filter: invert(1);
}