@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
	--background-color: #f5f2fd;
	--primary-color: #39198f;
	--secondary-color: #c9baf3;
	--accent-color: #4c22bf;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color); /*#f0f0f0;  Use your preferred pastel background color */
    font-family: 'Poppins', sans-serif; /* Replace 'Your Fancy Font' with your desired font name */
	font-weight: 400;
}

.container {
    text-align: center;
    background-color: var(--background-color); /* Use your preferred pastel container color */
    border-radius: 15px;
    padding: 20px;
    #box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
	font-family: 'Poppins';
	font-weight: 700;
    font-size: 48px;
    color: #ff6b6b; /* Use your preferred text color */
	margin-bottom: 40px;
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color); /*#e2e2e2; Use your preferred pastel input box color */
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--accent-color); /*#6bd4ff; Use your preferred pastel button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Text color for the button */
    font-weight: bold;
}
