:root {
    --background-color: #f5f2fd;
    --primary-color: #39198f;
    --secondary-color: #c9baf3;
    --accent-color: #4c22bf;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    text-align: center;
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    color: var(--accent-color);
    margin-bottom: 40px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input {
    background-color: var(--secondary-color);
}

input::placeholder {
    font-style: italic;
	font-weight: bold;
}

button {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.result-container {
    display: none;
    width: 100%;
    text-align: center;
}

textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	line-height: 1.4; /* Adjust the line height to control the text spacing */
}

.watermarks {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f2fd; /* Match the background color of your site */
}

.watermarks p {
    margin: 5px;
}

.watermarks img {
    width: 16px; /* Adjust the icon size as needed */
    vertical-align: middle;
    margin-right: 5px;
}